# Virtual Environment
venv/
.venv/
env/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Dataset (Exceeds GitHub 100MB file limit)
data/
*.csv

# Jupyter & IDE
.ipynb_checkpoints/
.vscode/
.idea/

# OS & Logs
.DS_Store
Thumbs.db
*.log
